
/* ---------------------------------------------------------------------------------------------------------------------
    General Styles
----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------
   Navbar
----------------------------------------------------------------------------------------------------------------------*/

#nav-signin-register {
    margin: 15px;
}

.btn-default {
    background-color: #284967;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}

/*----------------------------------------------------------------------------------------------------------------------
   Profile
----------------------------------------------------------------------------------------------------------------------*/
.ads-edit {
    position: absolute;
    right: 2%;
    top: 50%;
}

.ads-edit-wrapper {
    position: relative;
}

#deleteButton a {
    text-decoration: none;
}






