
/* ---------------------------------------------------------------------------------------------------------------------
    General Styles
----------------------------------------------------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------------------------------------------------
   Navbar
----------------------------------------------------------------------------------------------------------------------*/
#nav-signin-register {
    margin: 15px;
}
/*----------------------------------------------------------------------------------------------------------------------
   Profile
----------------------------------------------------------------------------------------------------------------------*/
#deleteButton {
    height: 3vw;
    width: 6vw;
    color: white;
}

#deleteButton a {
    text-decoration: none;
}

#delete {
    color: white!important;
}


