
/* ---------------------------------------------------------------------------------------------------------------------
    General Styles
----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------
   Navbar
----------------------------------------------------------------------------------------------------------------------*/

#nav-signin-register {
    margin: 15px;
}
/*----------------------------------------------------------------------------------------------------------------------
   Profile
----------------------------------------------------------------------------------------------------------------------*/
.ads-edit {
    position: absolute;
    right: 2%;
    top: 50%;
}

.ads-edit-wrapper {
    position: relative;
}

#deleteButton {
    /*height: 3vw;*/
    /*width: 6vw;*/
    /*color: white;*/
}

#deleteButton a {
    text-decoration: none;
}

/*#delete {*/
    /*color: white;*/
/*}*/




